All the Import statements

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Loading the Dataset

In [4]:
#loading both the test and train data so that i can create my own test/train split later and analyse it
df1 = pd.read_csv("./adult/adult.data")
df2 = pd.read_csv("./adult/adult.test")

columns = ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','label']
df1.columns = df2.columns = columns

df = pd.concat([df1,df2])
print(df.size)
df.head()

732600

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [10]:
label = columns[2]
print(label)
data = df[label]

print(data.describe())

chart = data.value_counts()


#plt.xticks(rotation=45,ha="right")
#plt.style.use('dark_background')
#plt.bar(chart.keys(),chart.values)

fnlwgt
count    4.884000e+04
mean     1.896657e+05
std      1.056048e+05
min      1.228500e+04
25%      1.175535e+05
50%      1.781445e+05
75%      2.376472e+05
max      1.490400e+06
Name: fnlwgt, dtype: float64